@charset "UTF-8";
/* CSS Document */

html,
body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: hsl(0, 50%, 80%);
}

#column-2 {
  background: #01e8f8;
}

#column-3 {
  background: #e0bad7;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}



/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: orange;
  }

  .col-3 {
    width: 50%;
  }

  #column-1 {
    background-color: lightblue;
  }

  #column-2 {
    background-color: lightgoldenrodyellow;
  }

  #column-3 {
    background-color: lightyellow;
    width: 100%;
  }

  footer {
    background-color: lightseagreen;
  }

}


/*---------- Desktops ----------*/
@media (min-width: 940px) {
  header {
    background-color: lightslategray;
  }

  .col-3 {
    width: 33%;
  }

  #column-1 {
    background-color: lightslategrey;
  }

  #column-2 {
    background-color: lightyellow;
  }

  #column-3 {
    background-color: lightgoldenrodyellow;
    width: 33%;
  }

  footer {
    background-color: snow;
  }

}